@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans-Light-webfont.eot');
	src: url('../fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/OpenSans-Light-webfont.woff') format('woff'),
		url('../fonts/OpenSans-Light-webfont.ttf') format('truetype'),
		url('../fonts/OpenSans-Light-webfont.svg#open_sanslight') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans-Regular-webfont.eot');
	src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/OpenSans-Regular-webfont.woff') format('woff'),
		url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
		url('../fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans-Semibold-webfont.eot');
	src: url('../fonts/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/OpenSans-Semibold-webfont.woff') format('woff'),
		url('../fonts/OpenSans-Semibold-webfont.ttf') format('truetype'),
		url('../fonts/OpenSans-Semibold-webfont.svg#open_sanssemibold') format('svg');
	font-weight: 600;
	font-style: normal;
}

@font-face {
    font-family: 'bebasregular';
    src: url('../fonts/bebas___-webfont.eot');
    src: url('../fonts/bebas___-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bebas___-webfont.woff2') format('woff2'),
         url('../fonts/bebas___-webfont.woff') format('woff'),
         url('../fonts/bebas___-webfont.ttf') format('truetype'),
         url('../fonts/bebas___-webfont.svg#bebasregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'quicksandlight';
    src: url('../fonts/quicksand-light-webfont.eot');
    src: url('../fonts/quicksand-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/quicksand-light-webfont.woff2') format('woff2'),
         url('../fonts/quicksand-light-webfont.woff') format('woff'),
         url('../fonts/quicksand-light-webfont.ttf') format('truetype'),
         url('../fonts/quicksand-light-webfont.svg#quicksandlight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'quicksandregular';
    src: url('../fonts/quicksand-regular-webfont.eot');
    src: url('../fonts/quicksand-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/quicksand-regular-webfont.woff2') format('woff2'),
         url('../fonts/quicksand-regular-webfont.woff') format('woff'),
         url('../fonts/quicksand-regular-webfont.ttf') format('truetype'),
         url('../fonts/quicksand-regular-webfont.svg#quicksandlight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@-webkit-keyframes fadeInUp {
	0% {
		opacity:0;
		-webkit-transform:translate3d(0,20px,0);
		transform:translate3d(0,20px,0);
	}
	100% {
		opacity:1;
		-webkit-transform:none;
		transform:none;
	}
}
@keyframes fadeInUp {
	0% {
		opacity:0;
		-webkit-transform:translate3d(0,20px,0);
		-ms-transform:translate3d(0,20px,0);
		transform:translate3d(0,20px,0);
	}
	100% {
		opacity:1;
		-webkit-transform:none;
		-ms-transform:none;
		transform: none;
	}
}
/* Custom css */
body {
	font-family:quicksandregular,'Open Sans', 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, sans-serif;
}

h1, h2 {
	font-family:bebasregular;
	letter-spacing: 0.05em;
}

.green-background {
	background:rgba(93, 113, 80, 0.1);
}

.darken-text time {
	color:black;
}

.lighten-text {
	color:white !important;
}

 html{
	content:"";
 	background: no-repeat url("../../content/images/about.jpg") center center fixed;
 	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-color: rgba(93,113,80,0.4);
}


.tag-about p{
	color:black;

}
.tag-about {
	background:rgba(93,113,80,0.4);
}

.tag-about header {
	height:400px;
}

.tag-about header:before {
	background:rgba(93,113,80,0.4) !important;
}

.hide {
	display:none;
}

.no-background {
	background:none;
}
.profile-icons i {
	padding:10px 5px 5px 5px;
	color:black;
}

.profile-icons a {
	border-bottom: 0px;
}

.info a {
	color:black;
}

.post-template {
	background:rgba(93,113,80,0.15);
}

.share a {
	padding:7px 7px 7px 7px;
}

.blog-icon {
	margin: 20px 5px 5px 20px;
    height: 62px;
    width: 62px;
    border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border: 1px solid #000000;
	letter-spacing: 0.15em;	
}


.blog-icon > a:hover:before{
	content:"";
	position:absolute;
	height: 62px;
    width: 62px;
    border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border: 7px solid #000000;
}

.blog-icon a:hover {
	opacity:1;
	color:black !important;
}

.blog-icon > a > span {
	font-family: bebasregular;
	position:absolute;
	padding: 20px 9px;
}

.blog-icon a {
	opacity:0;
}

.lighten-text-hover a:hover {
	color:white !important;
}


/* end of custom css */

p, ul, ol {
	margin-bottom:45px;
	font-size:23px;
	font-weight:300;
	line-height:34px;
	letter-spacing:0;
	color:black;
}
ul ul, ol ul, ul ol, ol ol {
	margin-bottom:0;
}
blockquote {
	padding-left:20px;
	margin-left:20px;
	border-left:1px dotted #ddd;
}
a {
	color:#7f8c8d;
	text-decoration:none;
	border-bottom:1px dotted #ddd;
	-webkit-transition: color .2s ease-in-out;
	transition: color .2s ease-in-out;
}
a:hover {
	color:#2e9fff;
	text-decoration:none;
}
strong {
	font-weight:600;
}
.excerpt {
	z-index:-1;
	position:relative;
}
.container, .pagination {
	position:relative;
	width:700px;
	margin:0 auto;
}
.pagination {
	text-align: center;
	font-size: 13px;
}
.page-number {
	color: #7f8c8d;
}
.older-posts {
	position: absolute;
	right: 0;
}
.newer-posts {
	position: absolute;
	left: 0;
}
.sidebar {
	position:absolute;
	left:-190px;
	width:130px;
}
.comments, footer {
	padding:120px 0;
}
.text-center {
	text-align:center;
}
.text-right {
	text-align:right;
}
.navigation {
	height:90px;
	font-weight:100;
	-webkit-animation-duration:1s;
	animation-duration:1s;
	position:absolute;
	z-index: 100;
}
.content, .brand {
	display:block;
	float:left;
}
.brand {
	border:none;
	padding:30px 0;
	line-height:0;
}
.brand img {
	width:auto;
	height:30px;
}
.content {
	line-height:90px;
	margin:0;
}
header {
	position:relative;
	font-weight:300;
	color:#fff;
	background-position:center center;
	background-repeat:no-repeat;
	background-size:cover;
	-webkit-animation-duration:3s;
	animation-duration:3s;
}
header:before {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	content:"";
	background:rgba(93, 113, 80, 0.4);
}
header .container {
	padding-top:130px;
	padding-bottom:260px;
}
.title {
	-webkit-animation-delay:.5s;
	animation-delay:.5s;
	-webkit-animation-duration:1s;
	animation-duration:1s;
}
.title h1 {
	font-size:55px;
	font-weight:300;
	line-height:60px;
	margin:0;
}
.title p {
	max-width: 420px;
	margin-bottom: 0;
}
header .share, a {
	margin-top:20px;
	line-height:28px;
	color:white;
}
.meta {
	top:140px;
	text-transform: capitalize;
}
.meta strong {
	display:block;
	color:#fff;
}
.meta time, .tags a {
	font-weight:300;
	color:black;
}
.meta strong, .tags a, .meta time {
	font-size:13px;
	line-height:22px;
}
.published {
	-webkit-animation-delay:.75s;
	animation-delay:.75s;
	-webkit-animation-duration:1s;
	animation-duration:1s;
}
.tags {
	margin-top:30px;
	-webkit-animation-delay:1s;
	animation-delay:1s;
	-webkit-animation-duration:1s;
	animation-duration:1s;
}
.tags a {
	display: block;
	border: none;
}
.meta .separator {
	display:none;
	color:#7f8c8d;
	margin:0 10px;
}
.push-article {
	padding-top:40px;
}
article {
	-webkit-animation-delay:1.25s;
	animation-delay:1.25s;
	-webkit-animation-duration:1s;
	animation-duration:1s;
	padding:40px 0;
}
.hljs {
	padding: 20px;
	border-radius: 8px;
	line-height: 1.5em;
}
article hr {
	border:1px solid #ddd;
}
article p > img, article a > img {
	display:block;
	margin:0 auto;
}
.article-image {
	width:940px;
	margin:80px -220px;
}
article h1, article h2, article h3 {
	font-weight:300;
	color:#464c4c;
}
article h1 {
	font-size:33px;
	line-height:43px;
	margin:80px 0 40px;
}
article h2 {
	font-size:26px;
	line-height:36px;
	margin:40px 0 0;
}
article h3 {
	font-size:20px;
	line-height:30px;
	margin:30px 0;
}
article input {
	width:100%;
	border:1px solid #ddd;
	border-radius:4px;
	outline:none;
	-webkit-transition:border .25s;
	transition:border .25s;
	padding:8px 16px;
}
article input:hover {
	border:1px solid #bbb;
}
article input:focus {
	border:1px solid #999;
}
.author {
	border-top: 1px solid #ddd;
	padding: 40px 0 80px;
}
.author img {
	border-radius: 50%;
	width: 100px;
	float: left;
}
.article-count {
	margin-top: 20px;
}
.author-image img {
	margin-top: -20px;
	border-radius: 50%;
}

.author .info {
	width: 385px;
	float: left;
	margin-left: 15px;
}
.author .name {
	margin: 0;
	display: block;
	border: none;
	font-weight: 600;
	font-size: 18px;
	line-height: 34px;
}
.author .bio {
	margin: 0;
	font-size: 16px;
	line-height: 30px;
}
.author, .comments {
	-webkit-animation-delay:1.5s;
	animation-delay:1.5s;
	-webkit-animation-duration:1s;
	animation-duration:1s;
}
.comments {
	background:#f2f3f4;
}
footer {
	-webkit-animation-delay:2s;
	animation-delay:2s;
	-webkit-animation-duration:1s;
	animation-duration:1s;
}
.copyright {
	font-size:30px;
	line-height: 40px;
	font-weight:400;
	color:#464c4c;
	margin: 0 -80px 20px;
}
.theme {
	font-weight: 600;
	border: none;
	color: #ddd;
	font-size: 12px;
}
footer p {
	margin:0;
}
.sample {
	font-weight:300;
	color:#fff;
	-webkit-animation-duration:3s;
	animation-duration:3s;
}
.sample .title a {
	display:block;
	border-bottom:none;
}
.sample .container {
	padding-top:130px;
	padding-bottom:0;
}
.excerpt article {
	padding:40px 0;
}
.sample .container a:hover {
	color:#2e9fff;
}
.excerpt article {
	border-bottom:2px solid #f2f3f4;
}
.page footer {
	border-top:2px solid #f2f3f4;
}
header .share a {
	border:none;
}
.sample:before, .excerpt article h1, .excerpt article h2, .excerpt article h3 {
	display:none;
}
.sample .title a, .sample .meta strong {
	color:#464c4c;
}
.blog-cover {
	padding: 180px 8%;
	text-align: center;
}
.blog-title {
	font-size: 75px;
	line-height: 75px;
	font-weight: 200;
	position: relative;
	margin: 0;
}
.blog-description {
	font-weight: 400;
	max-width: 540px;
	margin: 10px auto 0;
	position: relative;
	font-size: 25px;
}
@media (max-width: 992px) {
	.container, .pagination {
		width:auto;
		max-width:650px;
		padding:0 8%;
	}
	.sidebar {
		position:static;
		top:0;
		left:0;
		width:auto;
	}
	.content {
		margin-left:20px;
	}
	.title h1 {
		margin:0;
		font-size:49px;
		line-height:54px;
	}
	.title {
		width:90%;
	}
	header .container {
		padding-top:120px;
		padding-bottom:240px;
	}
	.meta a:after {
		content:",";
		margin-right: 4px;
	}
	.meta a:last-child:after {
		content:"";
	}
	.meta strong {
		display:none;
	}
	.published:after {
		margin-left:10px;
	}
	.published, .tags {
		margin-top:0;
	}
	.meta.text-right {
		text-align:left;
	}
	.meta {
		width:400px;
		margin-top:20px;
	}
	.article-image {
		width: 100%;
		margin: 80px 0;
	}
	.sample {
		padding-bottom:0;
	}
	.meta time, .published, .tags, .tags a, .meta .separator {
		display:inline-block;
	}
	.author .info {
		width: 320px;
	}
	.author .bio {
		font-size: 14px;
		line-height: 28px;
	}
	.copyright {
		margin: 0;
	}
	.copyright span {
		display: block;
	}
	.blog-title {
		font-size: 49px;
		line-height: 49px;
	}
	.blog-description {
		font-size: 18px;
		max-width: 400px;
	}
}
@media (max-width: 480px) {
	p, ul, ol {
		margin-bottom:20px;
		font-size:13px;
		line-height:25px;
	}
	.container, .pagination {
		padding:0 6%;
	}
	.comments, footer {
		padding:60px 0;
	}
	.content {
		font-size:18px;
	}
	.title h1 {
		font-size:29px;
		line-height:37px;
	}
	header .container {
		padding-top:60px;
		padding-bottom:120px;
	}
	.sample .container {
		padding-top: 60px;
	}
	.published:after {
		margin-left:5px;
	}
	.published, .tags {
		display:block;
	}
	.meta .separator {
		display:none;
	}
	.article-image {
		margin:20px 0;
	}
	article h1 {
		font-size:23px;
		line-height:33px;
		margin:40px 0 20px;
	}
	article h2 {
		font-size:18px;
		line-height:28px;
		margin:20px 0 0;
	}
	article h3 {
		font-size:13px;
		line-height:23px;
		margin:15px 0;
	}
	article {
		padding:40px 0 20px;
	}
	.copyright {
		font-size:17px;
		line-height: 26px;
	}
	.title, .meta {
		width:260px;
	}
	.author .info {
		margin-left: 0;
		width: auto;
	}
	.author img {
		display: none;
	}
	.author .bio {
		font-size: 13px;
		line-height: 25px;
	}
	.blog-cover {
		padding: 90px 6%;
		text-align: left;
	}
	.blog-title, .blog-description {
		max-width: 270px;
		margin: 10px 0 0 0;
	}
}
@media print {
	header .share {
		margin-top:30px;
	}
	header .container {
		padding-top:30px;
		padding-bottom:60px;
	}
	.meta {
		margin-top:10px;
	}
	article {
		padding:0;
	}
	.comments, footer {
		display: none;
	}
}
