{{!< default}}
{{#post}}

    {{> post-meta}}

     <header>
        <div class="container" data-stellar-ratio="0.75">
            <h1 class="animated fadeInUp">Victor Matekole</h1>
                <div class="author animated clearfix fadeInUp">
                    {{#author}}
                        <img src="{{image}}" alt="{{name}}" />
                    {{/author}}
                </div>
                <div class="animated profile-icons fadeInUp">
                    <a title="Email Victor" href=mailto:"victor@matekole.com"><i class="fa fa-envelope-o fa-lg"></i></a>
                    <a title="Victor's public key" href="/victors-public-key"><i class="fa fa-key fa-lg"></i>                 
                    <a title="Github profile" href="http://github.com/vmatekole"><i class="fa fa-github fa-lg"></i></a>
                    <a title="LinkedIn profile" href="http://linked.com/vmatekole"><i class="fa fa-linkedin fa-lg"></i></a>
                    <a title="Twitter profile" href="http://twitter.com/vmatekole"><i class="fa fa-twitter fa-lg"></i></a>
                </div>
        </div>
    </header>



{{! Temporary indentation shift for Handlebars issue }}
{{> content-custom}}

{{/post}}
